.classpath
.project
.settings
stacktrace.log
/*.zip
/plugin.xml
.svn
/*.log
/*.log.*
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/target-eclipse/
/logs/
*.*~
.gradle
/build
/metrics
/log
db*.log
db.data
db.redo
/activemq-data/*
*.class
/*/bin/
/bin/
.gradle-local-cache
.gradle-local-home

# Intellij IDE ###
.idea
*.iml
*.iws
*.ipr



